.dropdown {
    box-sizing: border-box;
    width: fit-content;
    position: absolute;
    background-color: rgba(151, 121, 121, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%);
    border-radius: 10px;
    padding: 0 3px;
    
}

.characterList {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    list-style-type: none;
    font-weight: bold;
    padding: clamp(.1rem, .3dvw + .2rem, 10rem);
    margin: 0;
    width: clamp(.5rem, 7dvw + 2rem, 10rem);
}

.character:hover {
    background-color: rgb(9, 89, 100);
    text-align: center;
    border-radius: 10px;
}

.selected {
    background-color: rgb(37, 225, 8);
}

.character,
.selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-3xs);
    border-radius: 10px;
    width: 100%;
    font-size: clamp(.5rem, .6dvw + .2rem, 10rem);
}

.character img,
.selected img {
    max-width: 100%;
    width: clamp(.5rem, 2dvw + .5rem, 10rem);;
    height: clamp(.5rem, 2dvw + .5rem, 10rem);;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(10px);
    }

    30% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    70% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    90% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}