
.gameImage {
    display: flex;
    max-height: 70dvh;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-s);
    max-height: 100dvh;
}

.navLink {
    background-color: rgb(137, 178, 213);
    width: 100%;
    text-align: center;
    padding: var(--space-2xs);
}

.navLink a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.targetSquare,
.foundSquare {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.targetSquare {
    border-color: red;
}

.foundSquare {
    border-color: rgb(8, 219, 100);
}

.dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.characters {
    display: flex;
    gap: 50px;
    margin: 0 10px;
    /* margin: auto; */
    /* margin-bottom: 10dvw; */
    justify-content: center;
    align-items: center;
}

.characters h3 {
    font-size: var(--step--1);
}

.characters li {
    text-align: center;
}

.characters p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: var(--step--2);
}

.characters img {
    /* max-width: 100%; */
    width: var(--space-m);
    height: var(--space-m);
    object-fit: cover;
    object-position: top
}

.countdown {
    position: absolute;
    top: 50dvh;
    left: 50dvw;
    font-size: var(--step-4);
    animation: move-words 20s linear, fadeOutAnimation linear 5s;
}

@keyframes move-words {
    0% {
        bottom: -100%;
    }

    100% {
        top: 100%;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 1200px) {
    .characters img {
        width: var(--space-xl);
        height: var(--space-xl);
        object-fit: cover;
        object-position: top
    }
}