
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% auto;
    padding: var(--space-xs) var(--space-xl);
    gap: var(--space-s);
    border: 1px solid #888;
    max-width: fit-content;
    font-size: var(--step--2);
    border-radius: 10px;
}

.form {
    display: flex;
    justify-content: center;
    gap: .3rem;
}

.form button {
    display: flex;
    margin: auto;
    margin-top: 1.6rem
}

h2 {
    text-align: center;
}


.table {
    display: flex;
    justify-content: center;
    background-color: aqua;
    border: solid black;
    padding: 1rem 0 ;
    /* width: 80%; */
    margin: auto;
    /* font-size: .5rem; */
    
}

td {
    padding: 0 .5rem;
}
